.teacherCard {
  padding: 24px;
  display: flex;
  gap: 48px;
  border-radius: 24px;
  background-color: #ffffff;
}

.teacherCard:not(:last-child) {
  margin-bottom: 32px;
}

.avatarSide {
  position: relative;
}

.imgWrapper {
  width: 120px;
  height: 120px;
  border: 3px solid #fbe9ba;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.5s ease;
}

.yellow.imgWrapper {
  border-color: #fbe9ba;
}

.green.imgWrapper {
  border-color: #cbded3;
}

.blue.imgWrapper {
  border-color: #bfd6ea;
}

.red.imgWrapper {
  border-color: #f2c0bd;
}

.orange.imgWrapper {
  border-color: #f4c8ba;
}

.img {
  border-radius: 100px;
}

.liveMark {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  background-color: #38cd3e;
  position: absolute;
  top: 19px;
  right: 23px;
}

.teacherHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 32px;
}

.teacherInfo {
  font-weight: 500;
  line-height: 1.5;
  flex-grow: 1;
}

.nameDescr {
  color: #8a8a89;
  margin-bottom: 8px;
}

.name {
  font-size: 24px;
  line-height: 1;
  color: #121417;
}

.teacherStatsBtnWrapper {
  display: flex;
  gap: 64px;
}

.teacherStats {
  display: flex;
  gap: 32px;
}

.statItem {
  display: flex;
  gap: 8px;
  align-items: center;
}

.priceAccent {
  color: #38cd3e;
}

.teacherStats li {
  position: relative;
}

.teacherStats li:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -16px;
  background-color: rgba(18, 20, 23, 0.2);
}

.heart {
  stroke: #121417;
  transition: fill 0.2s ease, stroke 0.2s ease;
}

.active {
  stroke: #f4c550;
  fill: #f4c550;
}

.yellow.active {
  stroke: #f4c550;
  fill: #f4c550;
}

.green.active {
  stroke: #9fbaae;
  fill: #9fbaae;
}

.blue.active {
  stroke: #9fb7ce;
  fill: #9fb7ce;
}

.red.active {
  stroke: #e0a39a;
  fill: #e0a39a;
}

.orange.active {
  stroke: #f0aa8d;
  fill: #f0aa8d;
}

.mainDercriptionList {
  margin-bottom: 16px;
}

.mainDercriptionItem:not(:last-child) {
  margin-bottom: 8px;
}

.mainDescrKeyWord {
  color: #8a8a89;
}

.languages {
  text-decoration: underline;
}

.summary {
  font-weight: 400;
  margin-bottom: 32px;
}

.reviewsList {
  margin-bottom: 32px;
}

.readMoreBtn {
  font-weight: inherit;
  line-height: inherit;
  text-decoration: underline;
  margin-bottom: 32px;
}

.languageLevelsList {
  display: flex;
  align-items: center;
  gap: 8px;
}

.languageLevelsItem {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.14;
  border-radius: 35px;
}

.languageLevelsItem:first-child {
  background-color: #f4c550;
  transition: background-color 0.5s ease;
}

.yellow.languageLevelsItem:first-child {
  background-color: #f4c550;
}

.green.languageLevelsItem:first-child {
  background-color: #9fbaae;
}

.blue.languageLevelsItem:first-child {
  background-color: #9fb7ce;
}

.red.languageLevelsItem:first-child {
  background-color: #e0a39a;
}

.orange.languageLevelsItem:first-child {
  background-color: #f0aa8d;
}

.languageLevelsItem:not(:first-child) {
  border: 1px solid rgba(18, 20, 23, 0.2);
}

.languageLevelsList + button {
  margin-top: 32px;
}
