.userInfoWrapper {
  display: flex;
  align-items: center;
  gap: 28px;
  padding-left: 20px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #f4c550;
  transition: background-color 0.5s ease;
}

.yellow.userAvatar {
  background-color: #f4c550;
}

.green.userAvatar {
  background-color: #9fbaae;
}

.blue.userAvatar {
  background-color: #9fb7ce;
}

.red.userAvatar {
  background-color: #e0a39a;
}

.orange.userAvatar {
  background-color: #f0aa8d;
}

.logoutBtn {
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  gap: 8px;
}

.icon {
  transition: stroke 0.5s ease;
}

.yellow.icon {
  stroke: #f4c550;
}

.green.icon {
  stroke: #9fbaae;
}

.blue.icon {
  stroke: #9fb7ce;
}

.red.icon {
  stroke: #e0a39a;
}

.orange.icon {
  stroke: #f0aa8d;
}

@media screen and (max-width: 1023px) {
  .userInfoWrapper {
    display: none;
  }

  .userInfoWrapper.mobMenu {
    display: flex;
    padding-left: 0;
  }
}
