.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #f4c550;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  height: 60px;
  transition: background-color 0.5s ease;
}

.yellow.btn {
  background-color: #f4c550;
}

.green.btn {
  background-color: #9fbaae;
}

.blue.btn {
  background-color: #9fb7ce;
}

.red.btn {
  background-color: #e0a39a;
}

.orange.btn {
  background-color: #f0aa8d;
}

.btn:hover {
  background-color: #fbe9ba;
}

.yellow.btn:hover {
  background-color: #fbe9ba;
}

.green.btn:hover {
  background-color: #cbded3;
}

.blue.btn:hover {
  background-color: #bfd6ea;
}

.red.btn:hover {
  background-color: #f2c0bd;
}

.orange.btn:hover {
  background-color: #f4c8ba;
}

.btn48 {
  padding-left: 48px;
  padding-right: 48px;
}

.btn88 {
  padding-left: 88px;
  padding-right: 88px;
}

.btn:disabled {
  background-color: #a8a6a6;
  cursor: not-allowed;
  opacity: 0.6;
}

@media screen and (max-width: 481px) {
  .btn48 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .btn88 {
    padding-left: 68px;
    padding-right: 68px;
  }
}
