.favouritesPage {
  padding-top: 8px;
  padding-bottom: 96px;
  background-color: #f8f8f8;
  min-height: calc(100vh - 88px);
}

.container {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

.emptyMessage {
  text-align: center;
  padding-top: 80px;
  font-size: 18px;
}
