.teachersPage {
  padding-top: 8px;
  padding-bottom: 96px;
  background-color: #f8f8f8;
  min-height: calc(100vh - 88px);
}

.teachersPageContainer {
  max-width: 1440px;
  padding-left: 128px;
  padding-right: 128px;
  margin-left: auto;
  margin-right: auto;
}

.teachersList + button {
  margin-top: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filtersWrapper {
  display: flex;
  column-gap: 20px;
  margin-bottom: 32px;
}

.emptyMessage {
  text-align: center;
  padding-top: 80px;
  font-size: 18px;
}

@media screen and (max-width: 769px) {
  .teachersPageContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 481px) {
  .teacherHeader {
    flex-direction: column;
    row-gap: 32px;
  }

  .filtersWrapper {
    flex-direction: column;
    row-gap: 20px;
  }
}
