.authButtonsWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 20px;
}

.btnWrapper {
  position: relative;
}

.loginBtn {
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  gap: 8px;
}

.icon {
  min-width: 20px;
  min-height: 20px;
  transition: stroke 0.5s ease;
}

.yellow.icon {
  stroke: #f4c550;
}

.green.icon {
  stroke: #9fbaae;
}

.blue.icon {
  stroke: #9fb7ce;
}

.red.icon {
  stroke: #e0a39a;
}

.orange.icon {
  stroke: #f0aa8d;
}

.registrationBtn {
  font-weight: 700;
  color: #ffffff;
  background-color: #121417;
  padding: 14px 39px;
  border-radius: 12px;
}

@media screen and (max-width: 1023px) {
  .authButtonsWrapper {
    display: none;
  }

  .authButtonsWrapper.mobMenu {
    display: flex;
    padding-left: 0;
  }
}
