.authButtonsWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btnWrapper {
  position: relative;
}

.loginBtn {
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  gap: 8px;
}

.registrationBtn {
  font-weight: 700;
  color: #ffffff;
  background-color: #121417;
  padding: 14px 39px;
  border-radius: 12px;
}
