.homePageContainer {
  max-width: 1440px;
  padding-bottom: 32px;
  padding-left: 64px;
  padding-right: 64px;
  margin-left: auto;
  margin-right: auto;
}

.textImageWrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.textSide {
  max-width: 720px;
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 98px 108px 98px 64px;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

.accent {
  position: relative;
  font-style: italic;
  font-weight: 400;
  z-index: 1;
}

.accent::after {
  content: "";
  width: 195px;
  height: 40px;
  border-radius: 8px;
  background-color: #fbe9ba;
  position: absolute;
  top: 10px;
  left: -5px;
  z-index: -1;
  transition: background-color 0.5s ease;
}

.yellow.accent::after {
  background-color: #fbe9ba;
}

.green.accent::after {
  background-color: #cbded3;
}

.blue.accent::after {
  background-color: #bfd6ea;
}

.red.accent::after {
  background-color: #f2c0bd;
}

.orange.accent::after {
  background-color: #f4c8ba;
}

.description {
  max-width: 471px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: -0.02em;
  margin-bottom: 64px;
}

.imageSide {
  background: url("../../../public/yellow-mac.png") no-repeat center bottom,
    url("../../../public/head.png") no-repeat center bottom 111px, #fbe9ba;
  border-radius: 30px;
  flex-grow: 1;
  min-width: 385px;
  transition: background-color 0.5s ease;
}

.yellow.imageSide {
  background: url("../../../public/yellow-mac.png") no-repeat center bottom,
    url("../../../public/head.png") no-repeat center bottom 111px, #fbe9ba;
}

.green.imageSide {
  background: url("../../../public/green-mac.png") no-repeat center bottom,
    url("../../../public/head.png") no-repeat center bottom 111px, #cbded3;
}

.blue.imageSide {
  background: url("../../../public/blue-mac.png") no-repeat center bottom,
    url("../../../public/head.png") no-repeat center bottom 111px, #bfd6ea;
}

.red.imageSide {
  background: url("../../../public/red-mac.png") no-repeat center bottom,
    url("../../../public/head.png") no-repeat center bottom 111px, #f2c0bd;
}

.orange.imageSide {
  background: url("../../../public/orange-mac.png") no-repeat center bottom,
    url("../../../public/head.png") no-repeat center bottom 111px, #f4c8ba;
}

.statsList {
  display: flex;
  padding: 40px 122px;
  justify-content: space-between;
  /* dashed border */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23F4C550FF' stroke-width='4' stroke-dasharray='10%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 30px;
}

.yellow.statsList {
  /* dashed border */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23F4C550FF' stroke-width='4' stroke-dasharray='10%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.green.statsList {
  /* dashed border */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%239FBAAEFF' stroke-width='4' stroke-dasharray='10%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.blue.statsList {
  /* dashed border */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%239FB7CEFF' stroke-width='4' stroke-dasharray='10%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.red.statsList {
  /* dashed border */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23E0A39AFF' stroke-width='4' stroke-dasharray='10%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.orange.statsList {
  /* dashed border */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23F0AA8DFF' stroke-width='4' stroke-dasharray='10%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.statsItem {
  display: flex;
  justify-content: baseline;
  gap: 16px;
}

.statsItem:not(:last-of-type) {
  padding-right: 10px;
}

.statsValue {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  white-space: nowrap;
}

.statsDesc {
  max-width: 93px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}

@media screen and (max-width: 1024px) {
  .textImageWrapper {
    flex-direction: column;
  }

  .textSide {
    max-width: 100%;
    padding: 58px 88px 58px 44px;
  }

  .imageSide {
    height: 450px;
  }

  .statsItem {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 769px) {
  .textSide {
    padding: 38px 78px 38px 34px;
  }

  .statsList {
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 20px 70px;
  }

  .imageSide {
    min-width: 240px;
  }

  .title {
    font-size: 32px;
  }

  .accent::after {
    width: 130px;
    height: 25px;
  }
}

@media screen and (max-width: 481px) {
  .homePageContainer {
    padding-left: 24px;
    padding-right: 24px;
  }
}
