.navLinksList {
  display: flex;
  gap: 28px;
  padding-left: 20px;
}

.link {
  display: block;
  padding-top: 34px;
  padding-bottom: 34px;
  line-height: 1.25;
}

.disabled {
  color: #747070;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .navLinksList {
    display: none;
  }
}
